@font-face {
    font-family: 'LiberationSans';
    src: local('Liberation Sans Bold Italic'), local('LiberationSans-BoldItalic'),
    url('LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: local('Liberation Sans Italic'), local('LiberationSans-Italic'),
    url('LiberationSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: local('Liberation Sans Regular'), local('LiberationSans-Regular'),
    url('LiberationSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: local('Liberation Sans Bold'), local('LiberationSans-Bold'),
    url('LiberationSans-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/*@font-face {*/
/*    font-family: 'Inter';*/
/*    src: url('Inter-BoldItalic.eot');*/
/*    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),*/
/*        url('Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('Inter-BoldItalic.woff2') format('woff2'),*/
/*        url('Inter-BoldItalic.woff') format('woff'),*/
/*        url('Inter-BoldItalic.ttf') format('truetype');*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*}*/

